/* Steve Calla */
.calla-svg {
  width: 200px;
  height: 200px;
}
.calla-thin {
  fill: none; 
  stroke: #000000;
  stroke-width: 3;
}

.calla-thick {
  fill: none;
  stroke: #000000;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke: green;
}

/* Timing */

/* //SECTION //FIRST NAME */
.s-1 {
  animation-delay: 0s; /* Delay the animation for n seconds */
}

.t-body-1 {
  animation-delay: 1.0s; 
}

.t-stroke-1 {
  animation-delay: 3.9s; 
}

.e-1 {
  animation-delay: 4s; 
}

.v-1 {
  animation-delay: 5s; 
}

.e-2 {
  animation-delay: 6s; 
}

/* //SECTION //LAST NAME */
.c-1 {
  animation-delay: 7s; 
}
.a-1 {
  animation-delay: 9s; 
}
.l-1 {
  animation-delay: 10.5s; 
}
.l-2 {
  animation-delay: 12.0s; 
}
.a-2 {
  animation-delay: 13s; 
}